body {
      font-family: Arial, sans-serif;
      background-color: #f8fbff;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #00b4d8;
      overflow: hidden;
      padding: 10px ;
      justify-content: flex-end;
      display: flex;
      
    }

    .navbar a {
      float: left;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 25px;
    }

    .navbar a:hover {
      background-color: #0056b3;
      border-radius: 4px;
      
    }

    .brand {
      justify-content: center;
      border-radius: 50px;
      gap: 10px;
      font-size: 25px;
      color: #ffffff;
      font-weight: bold;
      margin-right: 150px;
      align-items: center;
    }
    
    .bottom{
        height: 300px;
        width: 100%;
    }

    .form-container {
      width: 900px;
      margin: 30px auto;
      background: #fff;
      padding: 20px;
      margin-top: 10px;
      border-radius: 8px;
      
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    label {
      display: block;
      margin: 10px 0 5px;
      font-weight: bold;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="radio"] {
      width: auto;
      margin-right: 8px;
    }

    .payment-box {
      background: #e8f6ff;
      padding: 15px;
      border-radius: 6px;
      border: 1px solid #b3e5ff;
      margin-bottom: 20px;
    }

    .pay-box {
      width: 860px;
      margin: 40px auto;
      padding: 20px;
      background: #e8f6ff;
      border-radius: 10px;
      box-shadow: 0 0 10px #bcd;
    }

    .payment-box h3 {
      margin-top: 0;
      color: #0077b6;
    }

    .pay-box h3 {
      margin-top: 0;
      color: #0077b6;
    }

    input[type="submit"] {
      background: #0077b6;
      color: rgb(255, 255, 255);
      border: none;
      padding: 14px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background: #00b4d8;
    }

    .btn {
      background-color: #2993cd;
      border: none;
      padding: 10px;
      cursor: pointer;
      color: white;
      border-radius: 4px;
    }