 .navbar {
     background: #0077B6;
     padding: 15px 40px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }


 .navbar img {
     height: 60px;
     margin-left: 0px;
     border-radius: 50%;
 }


 .logo {
     color: white;
     font-size: 25px;
     font-weight: bold;
     margin-right: 250px;
     margin-left: 8px;
 }

 .logo:hover {
     color: #00B4D8;
 }

 .nav-links {
     list-style: none;
     display: flex;
     gap: 25px;
 }

 .nav-links a {
     color: white;
     text-decoration: none;
     font-size: 25px;
     transition: 0.3s;
 }

 .nav-links a:hover {
     color: #00B4D8;
 }